@charset "utf-8";
/* CSS Document */

body{ background:white; margin:0; padding:0; }
#canvas{ display:none; border:1px solid black; margin:20px auto; }
.jairoPosX, .jairoPosY{ display:none; width:800px; margin:10px auto; font-size:30px; font-family:Arial; }